$channelTextColor: rgb(197,183,198);
$slackPurple: #3F0E40;

.channels {
  background-color: $slackPurple;

  &_title {
    display: flex;
    justify-content: space-between;
    height: 26px;
    margin-bottom: 5px;
  }

  &_title,
  &_add-btn {
   color: $channelTextColor;
  }
}

.channel {
  cursor: pointer;
  height: 26px;
  color: $channelTextColor;
  padding: 0 15px;

  &::before {
    content: "#";
    margin-right: 5px;
  }

  &.active {
    background-color: #1164A3;
  }

  &_input {
    width: calc(100% - 15px);
    height: 26px;
    border-bottom: 1px solid $channelTextColor !important;
    color: $channelTextColor;
    outline: none;
  }

  &_header {
    height: 50px;
    margin-bottom: 15px;
  }

  &_title {
    font-size: 18px;
  }

  &_action-btn {
    font-size: 20px;
    margin-right: 10px;
    outline: none;

    &:focus {
      box-shadow: none;
    }
  }
}

.messages {
  overflow-y: scroll;

  @media screen and (max-height: 950px) {
    max-height: 84.5vh;
  }

  @media screen and (max-height: 850px) {
    max-height: 82vh;
  }

  @media screen and (max-height: 750px) {
    max-height: 79vh;
  }
}

.spinner-border {
  .channels & {
    margin-left: 15px;
  }
}

.spinner-grow {
  color: $slackPurple;
}

.fade.in {
  opacity: 1;
}
