.fade.in {
  opacity: 1;
}

.channel {
  cursor: pointer;
  height: 26px;
  color: rgb(197,183,198);
  margin: 0 -15px;
  padding: 0 15px;
  font-weight: 300;
}

.channel::before {
  content: "#";
  margin-right: 5px;
}

.channel.active {
  background-color: #1164A3;
  color: #fff;
}

.custom-button {
  background-color: transparent;
  color: rgb(197,183,198);
  border: none;
}

.channel_input {
  display: block;
  width: 100%;
  height: 26px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgb(197,183,198);
  color:rgb(197,183,198);
  outline: none;
}

.heading {
  display: flex;
  justify-content: space-between;
  height: 26px;
  color: rgb(197,183,198);
}

.channel_header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.channel_header h1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

.channel_header .custom-button {
  color: #000;
  font-size: 20px;
  margin-right: 10px;
}
